<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->
	<ui:define name="content">
		<h:form>
			<h2>#{votingBean.wahlkreis.name}</h2>
      <c:forEach var="dk" value="#{votingBean.direktkandidaten}">
        #{dk}
      </c:forEach>
      
      <c:forEach var="liste" value="#{votingBean.landeslisten}">
        #{liste}
      </c:forEach>
		</h:form>
	</ui:define>
</ui:composition>