<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->

	<ui:define name="additionalHeaders">
		<style type="text/css">
label {
	display: inline-block;
	width: 105px;
}

.ui-wizard-step-title {
	font-size: 14px;
}

.candidates {
	line-height: 22px;
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:wizard widgetVar="wizard" flowListener="#{votingBean.onFlowEvent}"
				backLabel="Zurück" nextLabel="Weiter">
				<p:tab title="Anmeldung" id="auth">
					<p:panel header="Authentifizierung zur Stimmabgabe">
						<h:graphicImage library="images" name="ballot-box.jpg"
							style="width: 275px; float: right;" />
						<p>Um eine Stimme zur Bundestagswahl abgeben zu können,
							benötigen Sie Ihre Wählernummer sowie den Sicherheitscode aus
							Ihren Wahlunterlagen.</p>
						<p>Auf den folgenden Seiten können Sie dann Ihre Erststimme
							für einen Direktkandidaten aus Ihrem Wahlkreis sowie Ihre
							Zweitstimme für eine Landesliste in Ihrem Bundesland abgeben.
							Bevor die Stimmabgabe gültig wird, können Sie im letzten Schritt
							Ihre Eingaben nochmals überprüfen und gegebenenfalls ändern.</p>

						<div style="clear: both;">
							<p:spacer height="24px" />
						</div>

						<h:outputLabel value="Wählernummer" for="voterId" />
						<p:inputText id="voterId" value="#{votingBean.voterId}"
							required="true"
							requiredMessage="Die Wählernummer kann nicht leer sein." />
						<p:spacer width="10px" />
						<h:outputLabel value="Sicherheitscode" for="token" />
						<p:password id="token" value="#{votingBean.token}" required="true"
							requiredMessage="Der Sicherheitscode kann nicht leer sein."
							feedback="false" />

						<p:messages />
					</p:panel>
				</p:tab>

				<p:tab title="Direktkandidat" id="dk">
					<p:panel id="kandidaten">
						<p>Bitte wählen Sie einen Direktkandidaten für Ihre Erststimme
							aus.</p>
						<ul class="candidates">
							<c:forEach items="#{votingBean.direktkandidaten}" var="dk">
								<li><h:graphicImage library="images" name="accept.png"
										rendered="#{votingBean.direktkandidat == dk}" /> <p:spacer
										width="16px" rendered="#{votingBean.direktkandidat != dk}" />
									<p:spacer width="4px" /> <p:commandLink
										value="#{dk.bewerber.fullName} (#{dk.bewerber.getParteiName(2009)})"
										update="kandidaten">
										<f:setPropertyActionListener
											target="#{votingBean.direktkandidat}" value="#{dk}" />
									</p:commandLink></li>
							</c:forEach>
							<li><h:graphicImage library="images" name="accept.png"
									rendered="#{votingBean.direktkandidat == null}" /> <p:spacer
									width="16px" rendered="#{votingBean.direktkandidat != null}" />
								<p:spacer width="8px" /> <p:commandLink
									value="(ungültige Erststimme)" update="kandidaten">
									<f:setPropertyActionListener
										target="#{votingBean.direktkandidat}" value="#{null}" />
								</p:commandLink></li>
						</ul>
					</p:panel>
				</p:tab>

				<p:tab title="Landesliste" id="liste">
					<p:panel id="landeslisten">
						<p>Bitte wählen Sie eine Landesliste für Ihre Zweitstimme aus.
							aus.</p>
						<ul class="candidates">
							<c:forEach items="#{votingBean.landeslisten}" var="liste">
								<li><h:graphicImage library="images" name="accept.png"
										rendered="#{votingBean.landesliste == liste}" /> <p:spacer
										width="16px" rendered="#{votingBean.landesliste != liste}" />
									<p:spacer width="8px" /> <p:commandLink
										value="#{liste.partei.name}" update="landeslisten">
										<f:setPropertyActionListener
											target="#{votingBean.landesliste}" value="#{liste}" />
									</p:commandLink></li>
							</c:forEach>
							<li><h:graphicImage library="images" name="accept.png"
									rendered="#{votingBean.landesliste == null}" /> <p:spacer
									width="16px" rendered="#{votingBean.landesliste != null}" /> <p:spacer
									width="4px" /> <p:commandLink value="(ungültige Zweitstimme)"
									update="landeslisten">
									<f:setPropertyActionListener target="#{votingBean.landesliste}"
										value="#{null}" />
								</p:commandLink></li>
						</ul>
					</p:panel>
				</p:tab>

				<p:tab title="Zusammenfassung" id="confirm">
					<p:panel id="confirm_tab">
						<p>Bitte kontrollieren Sie Ihre Erst- und Zweitstimme, bevor
							Sie den Wahlzettel endgültig absenden.</p>
						<p>
							Falls Sie Änderungen an Ihren Eingaben vornehmen möchten,
							benutzen Sie bitte den <em>Zurück</em>-Button am Ende des
							Formulares.
						</p>

						<ul class="candidates">
							<li><em>Ausgewählter Direktkandidat:</em> <h:panelGroup layout="none"
									rendered="#{votingBean.direktkandidat != null}">
									<strong>#{votingBean.direktkandidat.fullName}
										(#{votingBean.direktkandidat.parteiName})</strong>
								</h:panelGroup> <h:panelGroup layout="none"
									rendered="#{votingBean.direktkandidat == null}">
									<strong>ungültige Erststimme</strong>
								</h:panelGroup></li>
							<li><em>Ausgewählte Landesliste:</em> <h:panelGroup layout="none"
									rendered="#{votingBean.landesliste != null}">
									<strong>#{votingBean.landesliste.parteiName}</strong>
								</h:panelGroup> <h:panelGroup layout="none"
									rendered="#{votingBean.landesliste == null}">
									<strong>ungültige Zweitstimme</strong>
								</h:panelGroup></li>
						</ul>

						<p:messages autoUpdate="true" />

						<div style="float: right; padding-top: 12px;">
							<p:commandButton action="#{votingBean.saveVote()}"
								widgetVar="saveVoteButton" value="Wahlzettel einreichen"
								onclick="saveVoteButton.disable()" />
						</div>
					</p:panel>
				</p:tab>
			</p:wizard>
		</h:form>
	</ui:define>
</ui:composition>