<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->
	<ui:define name="content">
		<h:form>
			<p:messages showDetail="true" />
			<p:dataTable widgetVar="abgeordnete" var="mdb"
				value="#{bundestagBean.abgeordnete}"
				paginatorPosition="bottom" rows="20" paginator="true">
		  		<p:column sortBy="#{mdb.bewerber.fullName}" style="width: 70%;"
		  		  filterBy="#{mdb.bewerber.fullName}" filterMode="contains">
					<f:facet name="header">Name</f:facet>
		    		#{mdb.bewerber.fullName}
		  		</p:column>
		  		<p:column sortBy="#{mdb.bewerber.getParteiName(2009)}" style="width: 20%">
		  			<f:facet name="header">Partei</f:facet>
		  			#{mdb.bewerber.getParteiName(2009)}
		  		</p:column>
		  		<p:column>
		  			<f:facet name="header">Mandatsart</f:facet>
		  			#{mdb.mandatsArt}
		  		</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>