<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pretty="http://ocpsoft.com/prettyfaces">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->
	<ui:define name="content">
		<h:form>
			<p:messages showDetail="true" />
			<p:dataTable var="g"
				value="#{gewinnerBean.winner}" rows="15" paginator="true" paginatorPosition="bottom">
				<p:column sortBy="#{g.first.name}">
					<f:facet name="header">Knappste Gewinner</f:facet>
		    		#{g.first.fullName}
		  		</p:column>
		  		<p:column sortBy="#{g.second.name}">
					<f:facet name="header">Partei</f:facet>
		    		#{g.second.name}
		  		</p:column>
		  		<p:column sortBy="#{g.third}">
					<f:facet name="header">Stimmenvorsprung</f:facet>
		    		#{g.third}
		  		</p:column>
				<p:column sortBy="#{g.fourth}">
					<f:facet name="header">Parteirang</f:facet>
		    		#{g.fourth}
		  		</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>