<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->

	<ui:define name="additionalHeaders">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	</ui:define>

	<ui:define name="content">
		<h:outputScript name="js/charts.js"></h:outputScript>
		<h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
		
		<h:form>
			<!--Div that will hold the pie chart-->
			<div id="chart_div"></div>
			
			<p:dataTable value="#{bundestagBean.totalSeating}" var="mapping">
				<p:column>
					<f:facet name="header">Partei</f:facet>
					#{mapping.key.name}
				</p:column>
				<p:column>
					<f:facet name="header">Sitze im Bundestag</f:facet>
					#{mapping.value}
				</p:column>
			</p:dataTable>
			
			<script type="text/javascript">
				$(function() {
						drawChart();
					});
			</script>
		</h:form>
	</ui:define>
</ui:composition>