<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pretty="http://ocpsoft.com/prettyfaces">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->
	<ui:define name="content">
		<h:form>
			<p:messages showDetail="true" />
			<p:dataTable widgetVar="kandidaten" var="dk"
				value="#{wahlkreisBean.direktkandidaten}" rows="15" paginator="true"
				paginatorPosition="bottom">
				<p:column style="width: 50%" sortBy="#{dk.bewerber.fullName}"
				  filterBy="#{dk.bewerber.fullName}" filterMatchMode="contains">
					<f:facet name="header">
					 Direktkandidat
				  </f:facet>
	    		#{dk.bewerber.fullName}
	  		</p:column>
				<p:column sortBy="#{dk.wahlkreis.name}"
				  filterBy="#{dk.wahlkreis}" filterMatchMode="contains">
					<f:facet name="header">Wahlkreis</f:facet>
					<pretty:link mappingId="singleDistrict">
						<f:param value="#{dk.wahlkreis.id}" />
		    			#{dk.wahlkreis.name}
	    			</pretty:link>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>