<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->

	<ui:define name="additionalHeaders">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	</ui:define>

	<ui:define name="content">

		<h:outputScript name="js/charts.js"></h:outputScript>
		<h:outputScript library="primefaces" name="jquery/jquery.js"
			target="head" />

    <h:form>
	    <p:accordionPanel dynamic="true">
		    <p:tab title="Überhangmandate nach Parteien">
				  <div class="centered" id="partychart_div"></div>
				  <script>
				    $(function() {
					    drawUMPartyChart();
					    });
				  </script>
				</p:tab>
				<p:tab title="Überhangmandate nach Bundesländern">
				  <div class="centered" id="ueberhangmandateBL" />
		      <script type="text/javascript">
			      $(function() {
			        drawUMBundesland();
			      });
			    </script>
				</p:tab>
			</p:accordionPanel>
		</h:form>
	</ui:define>
</ui:composition>