<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->


	<ui:define name="content">




		<script type="text/javascript">
			function update() {
				if (pbAjax.getValue() == 100) {
					updatePoll.stop();
					startButton.enable();
				}

			}
		</script>

		<h:form>
			<p:panel>
				<h2>Stimmenaktualisierung</h2>
				<p>Um den Aktualisierungsvorgang zu starten, drücken Sie bitte
					auf Start</p>

				<p:poll interval="3" autoStart="false" oncomplete="update()"
					listener="#{updateBean.onUpdate}" update="update_panel"
					widgetVar="updatePoll" />
				<h:panelGroup id="update_panel">
					<p:progressBar widgetVar="pbAjax" value="#{updateBean.progress}"
						oncomplete="updatePoll.stop();startButton.enable();">
					</p:progressBar>
					<h:outputText value="#{updateBean.status}"></h:outputText>
				</h:panelGroup>
				<div style="margin-top:5px">
					<p:commandButton widgetVar="startButton" value="Start"
						actionListener="#{updateBean.start}"
						onclick="updatePoll.start();startButton.disable()" />
				</div>
			</p:panel>
		</h:form>

	</ui:define>
</ui:composition>