<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->

	<ui:define name="additionalHeaders">
		<style type="text/css">
#facts {
	margin: 1em 0;
}

#facts li {
	line-height: 1.4em;
}

#method {
	margin-top: 1em;
}
</style>
	</ui:define>

	<ui:define name="content">
		<h:form>
			<h2>#{wahlkreisBean.selected.name}</h2>
			<h3 class="subtitle">(#{wahlkreisBean.selected.bundesland.name})</h3>

			<ul id="facts">
				<li>Direktkandidat 2009:
					#{wahlkreisBean.selected.getDirektmandat(2009).bewerber.fullName}
					(#{wahlkreisBean.selected.getDirektmandatPartei(2009).name})</li>
				<li>Direktkandidat 2005:
					#{wahlkreisBean.selected.getDirektmandat(2005).bewerber.fullName}
					(#{wahlkreisBean.selected.getDirektmandatPartei(2005).name})</li>
				<li>Bevölkerung: #{wahlkreisBean.selected.bevoelkerung}</li>
				<li>Wahlberechtigte: #{wahlkreisBean.selected.wahlberechtigte}</li>
				<li>Wahlbeteiligung 2009: <h:outputText
						value="#{wahlkreisBean.getWahlbeteiligung(2009)}">
						<f:convertNumber type="percent" maxFractionDigits="1" />
					</h:outputText> (<h:outputText value="#{wahlkreisBean.wahlbeteiligungsDelta}">
						<f:convertNumber pattern="+##.0%;-##.0%" />
					</h:outputText>)
				</li>
			</ul>

			<p:accordionPanel dynamic="true">
				<p:tab title="Erststimmen">
					<p:dataTable value="#{wahlkreisBean.wahlkreisDirektkandidaten}"
						var="dk" sortOrder="descending"
						sortBy="#{wahlkreisBean.erststimmen2009[dk.bewerber]}">
						<p:column>
							<f:facet name="header">Bewerber</f:facet>
							#{dk.fullName}
							(#{dk.parteiName})
						</p:column>
						<p:column sortBy="#{wahlkreisBean.erststimmen2009[dk.bewerber]}">
							<f:facet name="header">Erststimmen</f:facet>
							<h:outputText rendered="#{dk.partei != null}" value="#{wahlkreisBean.erststimmen2009[dk.bewerber]}" />
							<h:outputText rendered="#{dk.partei == null}" value="*" />
							
							<h:panelGroup layout="none"
								rendered="#{wahlkreisBean.erststimmen2005[dk.bewerber] != null and wahlkreisBean.erststimmen2005[dk.bewerber] > 0}">
							 (<h:outputText
									value="#{(wahlkreisBean.erststimmen2009[dk.bewerber] - wahlkreisBean.erststimmen2005[dk.bewerber]) * 1.0 / wahlkreisBean.erststimmen2005[dk.bewerber]}">
									<f:convertNumber pattern="+##.0%;-##.0%" />
								</h:outputText>)
							</h:panelGroup>
						</p:column>
						<p:column>
							<f:facet name="header">Erststimmen (%)</f:facet>
							<h:outputText rendered="#{dk.partei != null}"
								value="#{wahlkreisBean.erststimmen2009[dk.bewerber] * 1.0 / wahlkreisBean.totalFirstVotes}">
								<f:convertNumber maxFractionDigits="1" type="percent" />
							</h:outputText>
							<h:outputText rendered="#{dk.partei == null}" value="*" />
						</p:column>
					</p:dataTable>
				</p:tab>
				<p:tab title="Zweitstimmen">
					<p:dataTable value="#{wahlkreisBean.wahlkreisLandeslisten}"
						var="ll" sortOrder="descending"
						sortBy="#{wahlkreisBean.zweitstimmen2009[ll.partei]}">
						<p:column>
							<f:facet name="header">Partei</f:facet>
							#{ll.partei.name}
						</p:column>
						<p:column sortBy="#{wahlkreisBean.zweitstimmen2009[ll.partei]}">
							<f:facet name="header">Zweitstimmen</f:facet>
							#{wahlkreisBean.zweitstimmen2009[ll.partei]}
							<h:panelGroup layout="none"
								rendered="#{wahlkreisBean.zweitstimmen2005[ll.partei] != null and wahlkreisBean.zweitstimmen2005[ll.partei] > 0}">
	               (<h:outputText
									value="#{(wahlkreisBean.zweitstimmen2009[ll.partei] - wahlkreisBean.zweitstimmen2005[ll.partei]) * 1.0 / wahlkreisBean.zweitstimmen2005[ll.partei]}">
									<f:convertNumber pattern="+##.0%;-##.0%" />
								</h:outputText>)
							</h:panelGroup>
						</p:column>
						<p:column>
							<f:facet name="header">Zweitstimmen (%)</f:facet>
							<h:outputText
								value="#{wahlkreisBean.zweitstimmen2009[ll.partei] * 1.0 / wahlkreisBean.totalSecondVotes}">
								<f:convertNumber maxFractionDigits="1" type="percent" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:accordionPanel>

			<div id="method">
				Berechnungsmethode:
				<ui:fragment rendered="#{!wahlkreisBean.usingAggregatedResults}">
					<span style='color: #c00'>nicht aggregiert </span>
				</ui:fragment>
				<ui:fragment rendered="#{wahlkreisBean.usingAggregatedResults}">
					<span style='color: #0c0'>aggregiert </span>
				</ui:fragment>

				<h:commandLink action="#{wahlkreisBean.processSwitchEvent}">&#xbb; wechseln</h:commandLink>
				<br />
				* = keine detaillierten Daten für parteilose Kandidaten verfügbar
			</div>
		</h:form>
	</ui:define>
</ui:composition>