<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/default.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pretty="http://ocpsoft.com/prettyfaces">
	<!-- 	<ui:define name="pageTitle">Home</ui:define> -->
	<ui:define name="content">
		<h:form>
			<p:dataTable widgetVar="wahlkreise" var="kreis"
				value="#{wahlkreisBean.wahlkreise}" rows="12" paginator="true"
				paginatorPosition="bottom">
				<p:column sortBy="#{kreis.id}" style="width: 40px;">				  
					<f:facet name="header">#</f:facet>
		    		#{kreis.id}
		  		</p:column>
				<p:column sortBy="#{kreis.bundesland.name}" style="width: 200px;"
				  filterBy="#{kreis.bundesland.name}" filterOptions="#{wahlkreisBean.bundeslaender}" filterMatchMode="exact">
					<f:facet name="header">Bundesland</f:facet>
		    		#{kreis.bundesland.name}
		  		</p:column>
				<p:column sortBy="#{kreis.name}"
				  filterBy="#{kreis.name}" filterMatchMode="contains">
					<f:facet name="header">Name</f:facet>
					<pretty:link mappingId="singleDistrict">
						<f:param value="#{kreis.id}" />
              #{kreis.name}
            </pretty:link>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>