body {
	font: normal 12px/1.2em Calibri, Segoe UI, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	
	margin-bottom: 0.5em;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	
	margin-bottom: 0.5em;
}

h3 {
	font-weight: bold;
	
	margin-bottom: 0.5em;
}

.subtitle {
	margin-top: -0.2em;
}

p {
	margin: 1em 0;
}

.centered {
	margin: 0 auto;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#header, #footer, #content, #nav, #main {
	width: 100%;
	min-height: 30px;
	margin: 24px 0;
	float: left;
}

#main {
	padding: 5px;
	border: 1px solid #A8A8A8;
	margin: 0;
	/* because of padding of 5px */
	width: 950px;
}

.title {
	padding: 20px;
	margin: 0 auto;
	vertical-align: middle;
}

.caption {
	margin: 0 auto;
	/* Centering, needs both for compatibility */
	display: inline;
	display: table;
}

#content {
	width: 720px;
	clear: right;
}

#nav {
	width: 210px;
	clear: left;
}

#nav li {
	margin: 0 16px 4px 8px;
	padding: 3px;
	height: 20px;
	vertical-align: middle;
}

#nav a {
	display: block;
	color: #444;
	width: 170px;
	margin: 3px 0;
	font-size: 14px !important;
	text-decoration: none;
	text-align: right;
}

#nav a:hover {
	color: #888;
}

#header {
	
}

#footer {
	padding: 4px 8px 0 8px;
	
	height: auto;
	width: 944px;
	
	vertical-align: middle;
	font-size: 10px;
}

#footer div {
	margin: 5px;
}