<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>WahlInformationsSystem</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<h:outputStylesheet name="css/reset.css" />
	<h:outputStylesheet name="css/screen.css" />

	<ui:insert name="additionalHeaders" />
</h:head>
<h:body>
	<div id="container">
		<div id="header">
			<p:ajaxStatus style="width:16px; height:16px; float: right; margin-top: 16px; margin-right: 32px;">
				<f:facet name="start">
					<h:graphicImage library="images" name="ajax-loader.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="" />
				</f:facet>
			</p:ajaxStatus>

			<div class="title ui-widget-header ui-corner-all">
				<h1 class="caption">Wahl-Informations-System</h1>
			</div>
			<h2>
				<ui:insert name="pageTitle" />
			</h2>
		</div>

		<div id="main" class="ui-corner-all">
			<div id="nav" class="ui-wizard ui-widget">
				<ul class="ui-wizard-step-titles">
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/index.html">Gesamtergebnis</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/abgeordnete.html">Abgeordnete</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/wahlkreise.html">Wahlkreise</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/kreissieger.html">Wahlkreissieger</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/kandidaten.html">Kandidaten</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/gewinner.html">Knappe Gewinner</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/ueberhangmandate.html">Überhangmandate</h:outputLink></li>
					<li><h:outputLink
							value="#{facesContext.externalContext.requestContextPath}/wahl/wahlzettel.html">Stimmabgabe</h:outputLink></li>
				</ul>
			</div>
			
			<h:outputScript library="primefaces" name="jquery/jquery.js"
      target="head" />
			<script>
			  $(function() {
				  var viewRoot = '#{facesContext.viewRoot.viewId}';
				  viewRoot = viewRoot.replace('xhtml', 'html');
				  $("#nav li").addClass("ui-wizard-step-title").addClass("ui-state-default")
				  $("#nav li a[href$='" + viewRoot + "']").parent().addClass("ui-state-hover");
				  
				  });
			</script>
			
			<div id="content">
				<ui:insert name="content" />
			</div>
		</div>
		<div id="footer" class="ui-widget ui-widget-header ui-corner-all">
			<div style="float: left">
				&copy;&nbsp;&nbsp;2011-2012 &nbsp;-&nbsp; <a
					href="mailto:a.rumpold@gmail.com">Adrian Rumpold</a>, <a
					href="mailto:wolfst@in.tum.de">Stephan Wolf</a>,
					
					Some icons used under
					<a href="http://creativecommons.org/licenses/by/2.5/" target="_blank">CC BY 2.5 license</a> from
          <a href="http://www.famfamfam.com" target="_blank">FamFamFam</a>.
			</div>
			
			<div style="float: right">Software Engineering 6. Jahrgang</div>
		</div>
	</div>
</h:body>
</html>
